* {
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    padding:100px 30px;
    background: #ec822b;
    height:100vh;
}
.app{
    background:#ffffff;
    width:90%;
    max-width:600px;
    margin: auto;
    border-radius: 10px;
    padding: 30px;
    box-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.app h1{
    font-size: 25px;
    color:#ec822b;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: 600;
    border-bottom:1px solid #333;
    padding-bottom: 15px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color:#ec822b;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: 900;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 600;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 5px 5px 8px #888888;
}
.btn:hover{
    background: #222;
    color:#fff;
}
.correct{
    background: green;
    color:#fff;
    border: 2px solid grey;
}
.incorrect{
    background: red;
    color:#222;
    border: 2px solid grey;
}
.disabled{
    pointer-events: none;
}
#next-btn{
    background: #ec822b;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border:0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor:pointer;
}
#finalbutton{
    background: #ec822b;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border:0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor:pointer;
}